p {
    font-size: 30px;
     text-align: center;
}

#cars {
    position: relative;
    height: 400px;
    width: 400px;
    background-image: url("../images/carshow.jpg");
    float: right;
    margin-top: 100px;
}
 

